body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #a0c4ff, #bdb2ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin-top: 20px; /* Añadir margen superior */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.star-rating {
    direction: rtl;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
    padding: 0 5px;
}

.star-rating input:checked ~ label {
    color: #f5b301;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5b301;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.logo {
    max-width: 150px;
    margin: 40px 0 20px; /* Aumentar margen superior */
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5em;
    }

    .star-rating label {
        font-size: 1.5em;
    }
}
